*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    


}


.navbar{
    height: 60px;
    background-color: #0f1111;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.nav-logo{
    height: 50px;
    width: 100px;

}
.logo{
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white ;
}
.country-first{
    font-size: 0.85rem;
    color: gray ;
    margin-left: 5px ;
}
.country-sec{

    font-size: 1rem;
    display: flex;


}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(248, 184, 66);
    width: 1000px;
    height: 40px;
    border-radius: 5px;
    
.border-search{
 border: rgb(248, 184, 66);
}    
   
}
.border-search:hover{
    border:2px rgb(248, 184, 66) solid ;
}
/** box 3**/
.search-options{
    background-color: #f3f3f3;
    text-align: center;
    padding: 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 50px;
    
    border: none;
}
.search-bar{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
   justify-content: center;
   align-items: center;
   color: #0f1111;
}
/** box4 **/

.nav-lang{
    font-size: 38px;
}


.sign-in{
    background: none;
    font: 25px;
    border: none;
    color: #f3f3f3;

}
.nav-first{
    font-size: 13px;
}
.nav-second{
    font-size: 15px;
}
.nav-cart i {
    font-size: 30px;
}
/** nav2 **/
.nav-shop-option{
    background-color: rgb(35,47,62) ;
    display: flex;
    height: 39px;
    align-items: center;
    justify-content: space-evenly left;
    color: #f3f3f3;
}
.three-line-thingy{
     
}
.nav-shop-option p {
    display: inline flex;
    font-size: 14px;
    margin: 10px;
    
}
.shop-option{
    width: 99%;
}
/** hero section **/
.hero-section{
    background-image:
     url("images/hero_image.jpg");
    height: 350px;
    background-size: cover;
    
}
.hero-message{
    background-color: #f3f3f3;
    color: black;
    height : 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px ;
    
}
.hero-message a {
    color: rgb(36, 150, 238);
    
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly ;
    background-color: #D3DFDF;
}
.box{

width: 23%;
height: 450px;
background-color: white;
border: 2px #0f1111 solid;
padding: 20px 0px 15px;
margin-top: 1.25rem;
border: none;


}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.img{
    height: 350px;
    background-size: cover;
    
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content a {
    color: rgb(36, 150, 238);
    text-decoration: none;
}