*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;


}


.navbar{
    height: 60px;
    background-color: #0f1111;
    color: aliceblue;
    display: flex;
    align-items: center;
    
}
.nav-logo{
    height: 50px;
    width: 100px;

}
.logo{
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white ;
}
.country-first{
    font-size: 1rem;
    color: gray ;
    margin-left: 5px ;
}
.country-sec{
    font-size: 14px;
    display: flex;


}
